<ng-template #plusModal let-modal>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel"> {{ mode === 'create' ? 'Create New Ticket' : 'Update Ticket' }}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Ticket title:</label>
              <input type="text" class="form-control" id="ticketTitle" [(ngModel)]="ticket.title" name="title">
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Description</label>
              <textarea class="form-control" id="description" [(ngModel)]="ticket.description" name="description"></textarea>
            </div>
            <div class="mb-3">
              <label for="user" class="form-label">Assign User</label>
              <select class="form-select" id="user" [(ngModel)]="ticket.user" name="user">
                <option *ngFor="let user of users" [value]="user">{{ user }}</option>
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label">Ticket Status</label>
              <input type="text" class="form-control" value="Pending" disabled>
            </div>
            <div class="mb-3">
              <label class="form-label">Created Timestamp</label>
              <input type="text" class="form-control" [value]="currentTimestamp" disabled>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="activeModal.close()">Close</button>
          <button type="button" class="btn btn-primary" (click)="saveTicket()">{{ mode === 'create' ? 'Save ticket' : 'Update ticket' }}</button>
        </div>
      </div>
    </div>
  </div>


</ng-template>
