<div class="sidebar" data-background-color="dark">
  <div class="sidebar-logo">
    <div class="logo-header" data-background-color="dark">
      <a routerLink="/" class="logo">
        <img
          src="assets/img/logo.jpg"
          alt="navbar brand"
          class="navbar-brand"
          height="20"
        />
      </a>
      <div class="nav-toggle">
        <button class="btn btn-toggle toggle-sidebar">
          <i class="gg-menu-right"></i>
        </button>
        <button class="btn btn-toggle sidenav-toggler">
          <i class="gg-menu-left"></i>
        </button>
      </div>
      <button class="topbar-toggler more">
        <i class="gg-more-vertical-alt"></i>
      </button>
    </div>
    <!-- End Logo Header -->
  </div>

  <div class="sidebar-wrapper scrollbar scrollbar-inner">
    <div class="sidebar-content">
      <ul class="nav nav-secondary">
        <li class="nav-item active">
          <a
            data-bs-toggle="collapse"
            href="#dashboard"
            class="collapsed"
            aria-expanded="false"

          >
            <i class="fas fa-home"></i>
            <p>Admin Dashboard</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="dashboard">
            <ul class="nav nav-collapse">
              <li>
                <a routerLink="/" routerLinkActive="active-link">
                  <span class="sub-item">Dashboard</span>
                </a>
              </li>
              <li>
                <a routerLink="/tickets" routerLinkActive="active-link">
                  <span class="sub-item">Ticket Information</span>
                </a>
              </li>
              <li>
                <a routerLink="/manage-ticket" routerLinkActive="active-link">
                  <span class="sub-item">Manage Tickets</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-section">
          <span class="sidebar-mini-icon">
            <i class="fa fa-ellipsis-h"></i>
          </span>
          <h4 class="text-section">Users Management</h4>
        </li>
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="#base">
            <i class="fas fa-layer-group"></i>
            <p>Users</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="base">
            <ul class="nav nav-collapse">
              <li>
                <a href="#">
                  <span class="sub-item">Add User</span>
                </a>
              </li>
              <li>
                <a routerLink="/manage-user" routerLinkActive="active-link">
                  <span class="sub-item">Manage User</span>
                </a>
              </li>
              <li>
                <a routerLink="/profile" routerLinkActive="active-link">
                  <span class="sub-item">User Profile</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="sub-item">Logout</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
